.header_img{
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    border:1px solid indigo;
}
.header_img img{
    width:100%;
    height:100%;
}
.navbar-brand{
    display:flex;
    gap:15px;
    align-items: center;
    justify-content: center;
}


.about_img {
background:indigo;
width:80%;

}

.about_img img{
/* transform: scale(.7); */
height:80%;
/* width:80%; */
filter:grayscale(1);
transition:.3s;
transform:translate(-5%,5%);

}
.about_img img:hover{
    transform:translate(0%,0%);
filter:grayscale(0);

}
.imager{
    display:inline-flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
}

.service_section .img-box:hover{
    background:indigo;
}

.education .detail-box .heading_container  h2{
    font-size:1.2em;
    margin-left:-20px;
    margin-bottom:10px;
}
.education .detail-box .heading_container  h2::before{
    content:'';
    position:absolute;
    top:30px;
    left:0px;
    height:3px;
    width:100%;
    background:indigo;   
}
.year{
    opacity: .6;
    margin-top:5px;
}


.education .detail-box {
    
   margin-left:50px;
}
section{
transition:.4s;
}